<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-youtube" id="youtube"></i></a>
    <a href="#"><i class="fab fa-instagram" id="instagram"></i></a>
    <a href="#"><i class="fab fa-facebook" id="facebook"></i></a>
  </div>
  <div class="footer-payments">
    <p><i class="fa-solid fa-lock" id="lock"></i> Safe payments</p>
    <%= image_tag "mastercardlogo.jpg", class: "img-cards" %>
    <%= image_tag "paypal.jpg", class: "img-cards" %>
  </div>
  <div class ="footer-privacy">
    <a href="#">Privacy</a>
  </div>
  <div class ="footer-terms">
    <a href="#">Terms and Conditions</a>
  </div>
  <div class ="footer-sponsorship">
    <%= image_tag "compete2020.jpg", class: "img-sponsor1" %>
    <%= image_tag "portugal2020.png", class: "img-sponsor2" %>
  </div>
</div>
