<div class="banner" style="background-image: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.2)), url(assets/banner-img.jpg)">
  <div class="container">
    <h1><strong>Home sweet motorhome!</strong></h1>
    <p><strong>Happiness is only real when shared</strong></p>
  <%= link_to "See all campers", offers_path, class: "btn btn-light" %>
  </div>
</div>
