<div class="banner" style="background-image: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.2)), url(<%= image_path "banner-img.jpg" %>)">
  <div class="container">
    <h1><strong>Home sweet motorhome!</strong></h1>
    <p><strong>Happiness is only real when shared</strong></p>
  <%= link_to "See all campers", offers_path, class: "btn btn-light" %>
  </div>
</div>

  <div class="works">
    <h5>How it works</h5>
  </div>

<div class="cards-homepage">
    <div class="card", id="firstcard">
      <div class = "list"><i class="fa-solid fa-magnifying-glass"></i></div>
      <h2 class = "card_header"> Search a Camper </h2>
      <p>Search for a beautiful camper.</p>
    </div>

      <div class="card">
        <div class = "list"><i class="fa-solid fa-sack-dollar"></i></div>
        <h2 class = "card_header"> Book a camper </h2>
        <p>Accept you are going to pay a lot of money to book this beautiful camper.</p>
    </div>

      <div class="card">
        <div class = "list"><i class="fa-solid fa-caravan"></i></div>
        <h2 class = "card_header"> Drive that camper! </h2>
        <p>Take that beautiful camper of yours for a spin!</p>
    </div>
</div>
