<div class = "profile">
<h1>Your profile details</h1>
<br>
<p><strong>First name: </strong><%=@user.first_name%></p>
<p><strong>Last name: </strong><%=@user.last_name%></p>
<br>
<p><strong>email: </strong><%=@user.email%></p>
<br>
<p>You can't change your profile picture, we know you secretly want to look like Sébastien, so you're welcome.</p>
</div>
