.card-title1 {
  font-size: 30px;
  color: #84A98C;
  text-align: left;
  box-shadow: 2px 2px 3px lightgrey;
  text-shadow: 2px 2px 3px lightgrey;
}

.card_picture {
  box-shadow: 2px 2px 3px lightgrey;
  margin: 20px;
}

.card-img-top {
  margin-right: 30px;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}

.btn-ghost-yes {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 13px;
}

.btn-ghost-yes:hover {
  opacity: 1;
}

.btn-ghost-no {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 13px;
}

.btn-ghost-no:hover {
  opacity: 1;
}
.card-booker-brand-name .card-p {
  font-size: 13px;
}
.card-dates-and-accepted .card-p {
  font-size: 13px;
}

.card-booking-offer-name {
  font-size: 13px;
}

.card-date {
  color: #84a98c;
}
.card-price {
  color: #84a98c;
}

.card-title {
  color: #84a98c;
}
.card-booking-offer-name {
  color: black;
}
.card-dates-and-accepted {
  margin-left: 80px;
  margin-top: 20px;
}
.card-booker-brand-name {
  margin-left: 43px;
  margin-top: 20px;
}
.card-text {
  color:#84a98c;
}
