
/* Underneath banner */
.works {
  color: #313030;
  font-size: 10px;
  font-style: italic;
  text-align: center;
  padding-top: 10px;
}

.cards-homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 2px 2px 3px lightgrey;
  grid-gap: 16px;
  margin-bottom: 100px;
  // align-items: center;
  // justify-items: center;
}

.cards-homepage .card {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.cards-homepage .card h4 {
  color: gray;
  margin: 20px;
}

/* Why does the text size not change and why can't i remove the obrder of this banner*/
/* Why won't my cards move in a row?*/

// .card {
//   background-color: white;
//   padding: 20px;
//   margin-top: 20px;
//   margin-left: auto;
//   margin-right: auto;
//   width: 180px;
//   border-radius: 20px;
//   margin-bottom: 40px;
// }

i {
  font-size: 35px;
  color: #4B5842;
  margin: 10px;
}

.cards-homepage .card p {
  size: 10px;
  color: gray;
}



// .list {
//   text-align: center;
// }

// .card h2 {
//   text-align: center;
//   size: 20px;
// }

// p {
//   text-align: center;
// }

// .container {
//   display: flex;
//   justify-content:space-between;
// }
